{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <span onclick="goBack()" class="back_link">Go Back</span>
    <div class="post row">
        <div class="post-author col-sm-2">
            <img src="{{ post.author.get_avatar() }}">
            <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}</a>
                <p>Posts:  {{ post.author.post_count }}</p>
            <p>Prestige: {{ post.author.clout }}</p>
        </div>
        <div class="post-body col-sm-10">
            {{ post.body }}
        </div>
    </div>
            <div class="post-bar row">
            <div class="post-bar-actions col-xs-4">
                {% if current_user.likes_post(post) %}
                    <span class="post-bar-link post-bar-unlike" onclick="actionHandler('{{ url_for('unlike', post_id=post.id) }}')">Unlike</span>
                {% else %}
                    <span class="post-bar-link post-bar-like" onclick="actionHandler('{{ url_for('like', post_id=post.id) }}')">Like</span>
                {% endif %}
            </div>
            <div class="post-bar-info col-xs-8">
                <span class="post-bar-link post-bar-timestamp" href="{{ url_for('postdetail', post_id=post.id) }}">
                    Posted: {{ moment(post.timestamp).fromNow() }} |
                </span>
                <span class="post-bar-link post-bar-comments">
                    {{ post.get_comment_count() }} Comments |
                </span>
                <span class="post-bar-likes post-bar-link">
                    {% if post.get_like_count() == 1 %}
                    1 Like
                    {% elif post.get_like_count() > 1 %}
                    {{ post.get_like_count() }} Likes
                    {% else %}
                    0 Likes
                    {% endif %}
                </span>
            </div>
            </div>
            <div class="comment-block">
                {% if post.get_comments().first() %}
            {% for comment in post.get_comments() %}
                {% include '_comment.html' %}
            {% endfor %}
                {% endif %}
                {{ wtf.quick_form(form) }}
            </div>
{% endblock %}
